
.vs/WordsSearchEngine/v15/.suo
.vs/WordsSearchEngine/v15/.suo
.vs/WordsSearchEngine/v15/Server/sqlite3/storage.ide-shm
.vs/WordsSearchEngine/v15/Server/sqlite3/storage.ide-shm
*.ide-shm
.vs/WordsSearchEngine/v15/Server/sqlite3/storage.ide-shm
.vs/WordsSearchEngine/v15/Server/sqlite3/storage.ide-wal
